.panda-bg-intro {
  background-color: #feeae9;
}
.categories {
  color: white;
}
.categories img {
  width: 100px;
}

.watch {
  background-color: orange;
}
.bag {
  background-color: orchid;
}
.shoes {
  background-color: blue;
}
